/* SearchBar.css */

/* Styles for desktop screens */
@media screen and (min-width: 768px) {
    .search-bar-container {
      display: flex;
      align-items: center;
      width: 70%;
      margin: 5px auto 0;
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 8px;
    }
    
    .search-icon,
    .cancel-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
    }
    
    .search-input {
      flex: 1;
      border: none;
      outline: none;
      padding: 0 5px;
      font-size: 16px;
    }
    
    .cancel-icon {
      cursor: pointer;
    }
  
  }
  
  /* Styles for both desktop and mobile screens */
  .bankListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content horizontally */
    width: 100%; /*Take 100% of page width*/
    margin-left: 5px; /* Center the container horizontally */
    margin-right: 5px;
  }
  
  .upper-row,
  .lower-row {
    display: flex;
  }
  
  .box {
    flex: 1;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .box:first-child {
    margin-right: 5px; /* Add space between the boxes */
  }
  
  .box:last-child {
    margin-left: 5px; /* Add space between the boxes */
  }
  
  /* CSS FOR BANKOPTIONS */
  
  .BankOption {
    display: flex;
    align-items: center;
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  
  .BankOption button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
  }
  
  .BankOption button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .BankOption button span {
    font-size: 16px;
    color: #3E2780;
  }
  
  .SearchInput {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 5px;
    font-size: 16px;
    background: transparent;
  }
  
  .BankOptions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .SelectPrimaryBank {
    margin-top: 20px;
    color: #3E2780;
  }
  
  /* Add hover effect */
  .BankOption button:hover {
    border: 2px solid #3E2780;
    padding: 5px;
    border-radius: 10px;
  }
  
  /* Add selected style */
  .BankOption button.selected {
    background-color: #3e2780;
    padding: 5px;
    border-radius: 10px;
  }
  
  .BankOption button.selected span {
    color: white;
  }
  
  /* CSS for vertical Bank Options */
  
  .BankOption2 {
    display: flex;
    align-items: center;
    /* width: calc(50% - 10px); */
    width: 100%;
    margin-bottom: 20px;
  }
  
  .BankOption2 button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
  }
  
  .BankOption2 button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .BankOption2 button span {
    font-size: 16px;
    color: #3E2780;
  }
  
  .SearchInput {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 5px;
    font-size: 16px;
    background: transparent;
  }
  
  .SelectPrimaryBank {
    margin-top: 20px;
    color: #3E2780;
  }
  
  /* Add hover effect */
  .BankOption2 button:hover {
    border: 2px solid #3E2780;
    padding: 5px;
    border-radius: 10px;
  }
  
  /* Add selected style */
  .BankOption2 button.selected {
    background-color: #3e2780;
    padding: 5px;
    border-radius: 10px;
  }
  
  .BankOption2 button.selected span {
    color: white;
  }
  
  /* CSS For Search Bar */
  .Bank-Container {
    max-width: 600px;
    /* margin-top: 30px; */
    padding: 20px;
    margin: auto;
  }

  .bankListContainer{
    margin-top: 70px;
  }
  
  /* For both desktop and mobile screens */
  .SearchBar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 8px;
    position: sticky;
    top: 60px; /* Adjust as per the height of your navigation bar plus additional spacing */
    z-index: 1000; /* Ensure it stays above other content */
  }
  
  
  .SearchIcon,
  .CancelIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }

  .partner{
    position: fixed;
    width: 100%;
  }
  
  /* Adjust for mobile screens */
  @media screen and (max-width: 767px) {
    .search-bar-container {
      /* margin-top: 300px; */
      display: flex;
      align-items: center;
      margin: 5px auto 0; /* Added 5px margin from the top */
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 10px;
      position: sticky;
      top: 60px; /* Adjust as per the height of your navigation bar */
      z-index: 1000; /*Ensure it stays above other content*/
    }
  
    .bankListContainer{
      margin-top: 70px;
    }
  
    .search-icon,
    .cancel-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
    }
  
    .search-input {
      flex: 1;
      border: none;
      outline: none;
      padding: 0 5px;
      font-size: 16px;
    }
  
    .cancel-icon {
      cursor: pointer;
    }
  
    .partner{
      position: fixed;
      width: 100%;
    }
  }
  